/* lets add some styling and font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html,body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #98A1BC;
}
.container{
    background: #f9f9f9;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.container h2{
    font-size: 20px;
}
#textInput{
    margin: 15px 0;
    background: transparent;
    padding: 7px;
    outline: none;
    font-size: 16px;
}
#copyBtn{
    background: #98A1BC; 
    border: none;
    outline: none;
    color: white;
    padding: 7px 0;
    font-size: 15.5px;
    border-radius: 5px;
}